/* http://meyerweb.com/eric/tools/css/reset/ v2.0-modified | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

:root {
  --brownL: #997b02;
  --brownLL: #e2d6a5;
  --black: #10101e;
  --white: #FFF;
  --blackOp: #10101e83;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
}

button {
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.header-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10.6rem;
  margin-left: 2rem;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.nav-link {
  color: var(--white);
  position: relative;
  transition: 0.4s;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--brownL);
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
  transform: skew(20deg);
}

.nav-link:hover {
  color: var(--brownL);
}

.nav-link:hover::after {
  width: 90%;
}

.container-header {
  max-width: 1200px;
  margin: 0 auto;
}

.header-button button {
  padding: 0.8rem 1rem;
  background-color: var(--brownL);
  border: 1px solid var(--brownL);
  color: var(--white);
  transition: 0.4s;
}
.header-button button:hover {
  color: var(--brownL);
  background-color: transparent;
}

@media screen and (max-width: 700px) {
  .nav-header {
    flex-direction: column;
  }
  .header-button {
    display: none;
  }
  .nav-item {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    font-size: 1rem;
  }
  .header-brand {
    margin-left: 0;
    margin-top: 0.6rem;
  }
  .header-list {
    margin-right: 0;
    margin-top: 1.6rem;
  }
}
.bg-home {
  position: relative;
  width: 100%;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to top, rgba(6, 18, 30, 0.1), #000), url("../img/home2.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: var(--white);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 1rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  margin-left: 9rem;
}
.hero-content h1 {
  text-align: left;
  max-width: 59rem;
  font-size: 4rem;
  font-weight: 300;
}
.hero-content em {
  color: var(--brownL);
}
.hero-content p {
  text-align: left;
  margin-bottom: 0.2rem;
}
.hero-content button {
  padding: 0.8rem 1rem;
  background-color: var(--brownL);
  border: 1px solid var(--brownL);
  color: var(--white);
  transition: 0.4s;
  margin-right: auto;
  margin-top: 1rem;
}
.hero-content button:hover {
  color: var(--brownL);
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .hero-content {
    margin-left: 1rem;
  }
  .hero-content h1 {
    font-size: 2.8rem;
  }
  .hero {
    min-height: 60vh;
    align-items: center;
    justify-content: center;
  }
}
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.about-content {
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.about-info {
  color: var(--black);
}
.about-info h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}
.about-info p {
  text-align: left;
  font-size: 1.08rem;
  line-height: 150%;
  font-weight: 300;
}
.about-info button {
  padding: 1rem 1.6rem;
  transform: skew(-20deg);
  border: 0;
  background-color: var(--yellow);
  color: var(--white);
  margin-top: 1rem;
  margin-right: auto;
  transition: 0.3s;
  font-weight: 500;
}
.about-info button:hover {
  background-color: var(--black);
  color: var(--white);
}

@media screen and (max-width: 600px) {
  .about-content {
    gap: 2rem;
    flex-direction: column;
  }
}
.coffees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  width: 100%;
  background-image: linear-gradient(to right, var(--brownL), var(--brownLL));
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.coffee-header h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}
.coffee-header p {
  font-size: 1.06rem;
  text-align: center;
  max-width: 60rem;
  line-height: 150%;
}

.con-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.con-coffee button {
  padding: 0.8rem 1.6rem;
  background-color: var(--brownL);
  border: 1px solid var(--brownL);
  color: var(--white);
  margin-top: 1rem;
  transition: 0.4s;
}
.con-coffee button:hover {
  color: var(--brownL);
  background-color: transparent;
}

.con-row-coffee {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
  margin-top: 1rem;
}

.coffee-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  transition: 0.4s;
}
.coffee-info h3 {
  font-size: 1.1rem;
  text-align: center;
  color: var(--black);
  margin-top: 1rem;
  transition: 0.4s;
}
.coffee-info p {
  text-align: center;
  font-size: 0.8rem;
  max-width: 14rem;
}

.coffee-info:hover {
  cursor: pointer;
}
.coffee-info:hover h3 {
  color: var(--white);
}

.coffee-img {
  overflow: hidden;
  min-width: 275px;
  max-height: 260px;
}

.coffee-img img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .con-coffee {
    margin-left: auto;
    margin-right: auto;
  }
  .con-row-coffee {
    flex-direction: column;
  }
}
.quality {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.quality-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.quality-header h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.quality-header p {
  font-size: 1.1rem;
  text-align: center;
}

.quality-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1;
  width: 90%;
  margin-top: 4rem;
}

.quality-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 1.4rem;
  box-shadow: 2px 6px 20px var(--blackOp);
}
.quality-square h3 {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
}
.quality-square p {
  font-size: 0.9rem;
  text-align: center;
  max-width: 20rem;
}
.quality-square img {
  max-width: 4rem;
}

@media screen and (max-width: 600px) {
  .quality-row {
    flex-direction: column;
  }
  .quality-header h1 {
    font-size: 2rem;
    text-align: center;
  }
  .quality-header p {
    font-size: 1rem;
    text-align: center;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  margin-top: 4rem;
  padding: 2rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.footer-content p {
  color: var(--white);
  font-size: 0.9rem;
  text-align: center;
}
.footer-content img {
  width: 5rem;
  height: 5rem;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer-icons i {
  font-size: 2rem;
  color: var(--white);
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  transition: 0.3s;
}
.footer-icons i:hover {
  animation: translateY 0.8s infinite alternate;
  color: var(--brownL);
}
@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-0.5rem) scale(1.1);
  }
}

.btn-whatssap {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  background-color: var(--black);
  padding: 1rem;
  border-radius: 50%;
}
.btn-whatssap i {
  font-size: 2.4rem;
  transition: 0.4s;
  color: var(--yellow);
}
.btn-whatssap i:hover {
  transform: scale(1.1);
}

.btn-whatssap .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 7.5rem;
  top: 0.8rem;
  left: -8.6rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  opacity: 0;
  transition: 0.4s;
}

.btn-whatssap:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */